<div class="row">
	<div class="col-md-4 col-md-offset-4 ">
		<% @posts.each do |x|%>
			<%= image_tag x.image.url(:medium) %>
			<hr>
			<%= x.description %>
			<%= link_to "delete", @post , method: :delete,
 data: { confirm: "You sure?" } %>
		<% end %>
	</div>
</div>